body {
    font-family: 'Roboto', sans-serif;
    background-color: #00BCD4;
}

#main {
    text-align: center;
    padding-top: 50px;
}

.canvas-wrapper {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#canvas {
    border: 1px solid black;
}

.btn-xlarge {
    font-size: 40px;
    right: 20px;
}

#second {
    width: 700px;
    height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.menuScore {
    width: 275px;
    height: 545px;
    position: absolute;
    top: 50;
    right: 0;
}

i {
    font-size: 30px;
}

span {
    font-size: 30px;
}